.col_12 {
  width: 440px; 
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.col_12_last {
  width: 440px; 
  display: inline;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}
.col_13 {
  width: 286px; 
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.col_23 {
  width: 592px; 
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.col_13_last {
  width: 286px; 
  display: inline;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}
.col_14 {
  width: 210px; 
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.col_14_last {
  width: 210px; 
  display: inline;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}
.col_34 {
  width: 670px; 
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Columns Inner */
.col_12_inner {
  width: 305px; 
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.col_12_inner_last {
  width: 305px; 
  display: inline;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}
.col_13_inner {
  width: 196px; 
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #666;
  font-size: 12px;
}
.col_13_inner_last {
  width: 196px; 
  display: inline;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
  color: #666;
  font-size: 12px;
}
.col_23_inner {
  width: 414px; 
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.col_14_inner {
  width: 142px; 
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.col_14_inner_last {
  width: 142px; 
  display: inline;
  float: right;
  margin-right: 0;
  margin-bottom: 20px; 
}
.col_34_inner {
  width: 468px; 
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;  
}