 /* The Nivo Slider styles */
#slider {
  position:relative;
  width:960px; /* Change this to your images width */
  height:344px; /* Change this to your images height */
  background: #ffffff url(../images/loading.gif) no-repeat 50% 50%;
}
#slider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
#slider a { 
  border:0;
  display:block;
}
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
  display: none;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:140px;
	background: url(../images/transparent.png) repeat;
	color:#fff;
	width:270px;
  display: inline-block;
	z-index:8;
  font-family: 'pf_dintext_proregular';
/*  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;  */
	padding:15px;
}
.nivo-caption p {
	margin:0;
  font-size: 12px;
  color: #ffffff;
}
.nivo-caption a {
  line-height: 28px;
  color: #ffffff !important; 
  font-size: 16px;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  position: relative;
  display: none;
}
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.nivo-controlNav {
	position:absolute;
	left:43%;
	bottom: 15px;
}
.nivo-controlNav a {
	display:block;
	width:11px;
	height:12px;
	background:url(../images/green_pager.png) no-repeat 0 -12px ;
	text-indent:-9999px;
	border:0;
	margin-right: 5px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 0;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

/* The Nivo Slider styles */
#custom_nivoslider{
  position: relative;
  background:url(../images/loading.gif) no-repeat 50% 50%;
  margin: 10px 0;
}
#custom_nivoslider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#custom_nivoslider a { 
    border:0;
    display:block;
}
#custom_nivoslider .nivo-caption {
	position:absolute;
	left:0px;
	bottom:45px;
	background: url(../images/transparent.png) repeat;
	color:#fff;
	width:250px;
	z-index:8;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;  
}