/*  
Theme Name: ECOBIZ
Theme URI: http://themeforest.net/user/imediapixel
Description: Modern Business Wordpress Theme
Author: imediapixel
Author URI: http://themeforest.net/user/imediapixel
Version: 2.5
Tags: Green, White, Translation-ready, Custom-menu,Two-columns, Fixed-width, custom-background
License:
License URI:
*/


/* ----------------------- SUMMARY -----------------------

- GENERAL LAYOUT
  - BODY
	- HEADINGS
	- PARAGRAPH,BLOCKQUOTE,CODE, 
  - ORDER LIST
  - ARROW LIST
  - CHECK LIST
  - BULLET LIST
  - DROPCAPS, PULLQUOTE
	- CLEAR FLOAT ELEMENTS
	- IMAGE ALIGNMENT &amp; STYLING;
  - CUSTOM MESSAGE STYLING
  - BUTTON

- WRAPPER
  - TOP WRAPPER
  - MAIN WRAPPER
  - BOTTOM WRAPPER 
  - CENTER 
  
- HEADER
  - HEADER WRAPPER
	- LOGO
  - SEARCH BOX
		
- SLIDESHOW

- FEATURES BOX
	
- HOMEPAGE CONTENT

- PAGE HEADING  

- PRODUCTS PAGE / TABLE PRICING

- PORTFOLIO PAGE
  - PORTFOLIO 1 COLUMN
  - PORTFOLIO 2 COLUMNS
  - PORTFOLIO 3 COLUMNS
  - PORTFOLIO 4 COLUMNS
  - PORTFOLIO 3 COLUMNS FILTERABLE
  - PORTFOLIO FILTER
    
- BLOG PAGE
  - BLOG LIST ITEMS
  - POST META BOX
  - AUTHOR BOX
  - COMMENTS LIST
  - COMMENT FORM 
  
- CONTACT PAGE
  - CONTACT FORM
  - CONTACT ADDRESS

- FAQ PAGE

- SIDEBAR
  - NEWS LIST
  - ITEM LIST
  - TWITTER WIDGET
  
- FOOTER
	- FOOTER BOX
  - ADDRESS LIST
  - COPYRIGHT
  
*/

/* Import CSS Reset File */
@import url("css/reset.css");
/* Import CSS 960 Grid System File */
@import url("css/grid.css");
/* Import Drop down Menu Styling File */
@import url("css/jqueryslidemenu.css"); 

@font-face {
    font-family: 'pf_dintext_proregular';
    src: url('fonts/pfdintextpro-regular_0-webfont.eot');
    src: url('fonts/pfdintextpro-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfdintextpro-regular_0-webfont.woff') format('woff'),
         url('fonts/pfdintextpro-regular_0-webfont.ttf') format('truetype'),
         url('fonts/pfdintextpro-regular_0-webfont.svg#pf_dintext_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ----------------------- GENERAL LAYOUT -----------------------*/
body {
  background-color: #669100;
  background-image: url(images/pattern/grid2.png);
  background-repeat: repeat;
  font-family: arial, verdana, tahoma, helvetica;
}
/* Heading */
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	color:#555555;
/*	font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'pf_dintext_proregular';
}
h1{
	font-size:36px; 
	line-height:36px; 
	margin-bottom:14px;
}
h2{
	font-size:30px; 
	line-height:30px; 
	margin-bottom:14px;
}
h3{
	font-size:24px; 
	margin-bottom:12px;
}
h4{
	font-size:18px; 
	line-height:16px; 
	margin-bottom:16px;
}
h5{
	font-size:14px; 
	margin-bottom: 12px; 
	padding:0px;
}
h6{
	font-size:12px; 
	margin-bottom: 12px; 
	padding:0px;
	letter-spacing: 1px;
}
/* links */
a,a:link,a:visited {
  color:#4F8C00;
  text-decoration:none;
}
a:hover{
  color:#555555;
}
a img, img {
  border:none
}

/* paragraphs,blockquote,code */
p {
  margin-bottom:12px;
  color:#666666;
  font-size: 12px;
	line-height: 21px;
}
blockquote {
  margin: 0 0 20px 0;
  color: #8a8a8a;
  background: url(images/quote.png) top left no-repeat;
  font-style: italic; 
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.4em;
  font-size: 14px;
}
blockquote p {
  line-height: 1.4em;
  font-size: 14px;
}
code {
  background: #fafafa;
  padding: 5px 10px;
  display: block;
  font-size: 12px;
  color: #858585;
  margin-bottom: 10px;
  border: 1px dotted #eaeaea; 
  clear: both;   
}
pre{ 
  clear: both; 
  font: 11px Consolas, "Andale Mono", Courier, "Courier New", monospace; 
  background: url(images/pre_bg.gif) repeat; 
  border: 1px solid #d3d3d3;
  padding: 18px 20px 15px 20px;
  line-height: 19px;
  overflow:auto;
  overflow-Y: hidden;
  color: #555;
  margin: 0 0 20px 0;
}
ol {
  margin: 20px 0 20px 25px;
  list-style-type: decimal;
}
ol li {
  font-size: 12px;
  margin: 5px 0; 
  padding-bottom: 5px;
  color: #666666;
} 

/* Arrow List */
.arrowlist {
  margin-bottom: 20px;
  margin-left: 5px;
}
.arrowlist li {
  font-size: 12px;
  margin: 8px 0; 
  padding-bottom: 8px;
  padding-left: 20px;  
  background: url(images/arrow.png) .3em 0 no-repeat;
  color: #666666;
  border-bottom: 1px solid #dfdfdf;
}
/* Check List */
.checklist {
  margin-bottom: 20px;
  margin-left: 5px;
}
.checklist li {
  font-size: 12px;
  margin: 10px 0; 
  padding-bottom: 10px;
  padding-left: 25px;  
  background: url(images/tick.png) 0 0 no-repeat;
  color: #666666;
  border-bottom: 1px dotted #dfdfdf;
  line-height: 1.5;
}
/* Check List */
.bulletlist {
  margin-bottom: 20px;
  margin-left: 5px;
}
.bulletlist  li {
  font-size: 12px;
  margin: 8px 0; 
  padding-bottom: 8px;
  padding-left: 20px;  
  background: url(images/bullet.png) 0 .1em no-repeat;
  color: #757575;
  border-bottom: 1px solid #dfdfdf;
}
/* Item List */
.itemlist {
  margin-bottom: 20px;
  margin-left: 5px;
}
.itemlist  li {
  font-size: 12px;
  margin: 8px 0; 
  padding-bottom: 8px;
  padding-left: 20px;  
  background: url(images/item.png) 0 .1em no-repeat;
  color: #757575;
  border-bottom: 1px solid #dfdfdf;
}
.starlist {
  margin-bottom: 20px;
  margin-left: 5px;
}
.starlist li {
  font-size: 12px;
  margin: 8px 0; 
  padding-bottom: 8px;
  padding-left: 20px;  
  background: url(images/star.png) 0 3px no-repeat;
  color: #7d7d7d;
  border-bottom: 1px solid #dedede;
  line-height: 18px;
}
/* Dropcap */
.dropcap{
	background:transparent url(images/big-bullet.png) no-repeat scroll -1px -1px;
	color:#ffffff;
	float:left;
	font-size:24px;
	height:41px;
	line-height:30px;
	margin-bottom:-10px;
	margin-right:10px;
	padding-top:5px;
	text-align:center;
	width:41px;
}
/* Pullquotes */

.pullquote_right,.pullquote_left{
	color:#9F9F9F;
	float:right;
  font-size: 14px;
	letter-spacing:0px;
	margin-bottom:0;
	margin-top:10px;
	margin-left:20px;
	padding:0 10px;
	width:33%;
  font-style: italic; 
  background: url(images/quote.png) top left no-repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.pullquote_left{
  border-left: none;
	float:left;
	margin-left:0px;
	margin-right:10px;
  
}
/* Clear Floated Elements */

/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* Images Alignment &amp; Styling */
.alignleft {
  float: left;
  margin: 5px 12px 0 0;
}
.alignright {
  float: right;
  margin: 5px  0 5px 12px;
}
.aligncenter {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 15px;
  display: block; 
}
.imgbox {
  padding: 4px;
  background: #ffffff;
  border: 1px solid #ededed;
  margin: 2px 4px 2px 4px;
}
.imgbox2 {
  padding: 3px;
  background: #ffffff;
  border: 1px solid #ededed;
}
.divider {
  background: url(images/divider.jpg) bottom repeat-x;
  padding: 5px 0;
  margin-bottom: 10px;
  display: block;
}
/* Custom Message Styling */
.info {
  margin: 15px 0;
  font-size: 14px;
  color: #246EA7;
  padding: 15px 12px 15px 47px;
  background: #DFECF7 url(images/info.png) .5em .4em no-repeat;
  border: 1px solid #A7CEEC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 0 6px #aaaaaa;
  -webkit-box-shadow:0 0 6px #aaaaaa;  
} 
.error {
  margin: 15px 0;
  font-size: 14px;
  color: #C92036;  
  padding: 15px 12px 15px 47px;
  background: #FAE1E1 url(images/error.png) .5em .4em no-repeat;
  border: 1px solid #EDA8A8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 0 6px #aaaaaa;
  box-shadow:0 0 6px #aaaaaa;
  -webkit-box-shadow:0 0 6px #aaaaaa;   
} 
.warning {
  margin: 15px 0;
  font-size: 14px;
  color: #E08820;  
  padding: 15px 12px 15px 47px;
  background: #FDF4D7 url(images/warning.png) .5em .4em no-repeat;
  border: 1px solid #E8C779;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 0 6px #aaaaaa;
  box-shadow:0 0 6px #aaaaaa;
  -webkit-box-shadow:0 0 6px #aaaaaa;    
} 
.success, 
.success-message{
  margin: 15px 0;
  font-size: 12px;
  color: #84AF22;  
  padding: 15px 12px 15px 47px;
  background: #E6F2D2 url(images/ok.png)  .5em .4em no-repeat;
  border: 1px solid #96C24A;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 0 6px #aaaaaa;
  box-shadow:0 0 6px #aaaaaa;
  -webkit-box-shadow:0 0 6px #aaaaaa; 
}
.success-message{ 
  display: none; 
}
/*  Highlight Styles */

.highlight-yellow {padding:1px 4px;background-color:yellow;color:#111;}	
.highlight-dark{padding:1px 4px;background-color:#6a6a6a;color:#fff;}
.highlight-red{padding:1px 4px;background-color:#DE2D2D;color:#fff;}	
.highlight-green{padding:1px 4px;background-color:#A3CC29;color:#111;}	

/* Button */
.button {
/*  float: left;*/
  margin: 10px 10px 10px 0;
  cursor: pointer;
  color: #777777;
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
  height: 26px;
  background: url(images/button-right.png) no-repeat 100% 0;
  display: inline-block;
}
.button span {
  text-align: center;
  margin-right: 7px;
  padding: 1px 10px 0 20px;
  background: url(images/button-left.png) no-repeat;
  display: inline-block;
  height: 26px;
  float: left;
  font-size: 12px;
}
.button:hover {
  background-position: 100% -26px;

}
.button:hover span {
  background-position: 0 -26px;
}
a.button{
  color: #666666;
}
a.button:hover {
  color: #ffffff;
}
img.readmore {
  position: relative;
  top: 5px;
  left: 8px;
  overflow: hidden;
}

/* ----------------------- WRAPPER -----------------------*/
#wrapper {  
  width: 976px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom:20px;
}
#topwrapper {
  height: 19px;
  width: 976px;
  background: url(images/topwrapper.png) no-repeat;
}
#mainwrapper {
  position:relative;
  width: 976px;
  background: url(images/mainwrapper.png) repeat-y;
}
#bottomwrapper {
  margin: 0 auto;
  height: 55px;
  width: 976px;
  background: url(images/bottomwrapper.png) bottom center no-repeat;
}
.center {
  margin : 0 auto;
  width: 900px;
}

/* ----------------------- HEADER -----------------------*/
#header {
  width: 960px;
  height: 42px;
  padding-bottom: 39px;
  background: #ffffff url(images/bgheader.jpg) bottom center repeat-x;
  margin: 0 auto;
}
#headerright {
  padding-top: 22px;
  width: 550px;
  float: right;
  font-family: 'pf_dintext_proregular';
}

#logo {
  margin-top: 5px;
  float: left;
  width: 215px;
}

#flags_language_selector
{
float:right;
padding-top: 15px;
}

.searchbox {
  width: 192px;
  height: 37px;
  float: right;
}
.searchinput {
  border: none;
  height: 17px;
  width: 135px;
  background: url(images/searchinput.png) left center no-repeat;  
  float: left;
  padding: 10px;
  color: #cacaca;
}
.searchsubmit {
  height: 37px;
  width: 36px;
  background: url(images/searchsubmit.png) left center no-repeat;
  float: left;
  border: none;
  cursor: pointer;
}

/* ----------------------- SLIDESHOW -----------------------*/
#slide-wrapper {
  padding: 0;
  margin: 0 auto !important;
  width: 960px;
  height: 344px;
  border-top: 4px solid #61AB00;
  border-bottom: 2px solid #61AB00;
}
.static-block {
  float: left;
  width: 620px;
  height: 345px;
}
.static-text {
  padding: 20px;
  float: left;
  width: 300px;
  height: 305px;
  background: #555555 url(images/pattern/grunge.png) repeat;
}
.static-text h3 {
  color: #ffffff; 
}
.static-text p {
  color: #ffffff; 
}
#cabinet{
position: absolute;
left: 725px;
top: 210px;
background: #C09A00;
color: #FFF;
width: 164px;
display: inline-block;
z-index: 8;
padding: 7px 34px 7px 45px;
 font-family: 'pf_dintext_proregular';
font-size: 1.35em;

}


/* ----------------------- FEATURES BOX -----------------------*/
.featuresbox,
.quotebox {
  height: 90px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #d1b766;
  background-color: #bd981e;
  background-image: url(images/green.jpg);
  background-position:  bottom center;
  background-repeat:  repeat-x;   
}
.featuresbox ul  {
  margin: 0;
  padding: 0 30px;
}
.featuresbox ul li {
  float: left;
  width: 205px;
  margin-left: 10px;
  padding-left: 15px;  
  background: url(images/divider-white.png) center left no-repeat;
}
.featuresbox ul li p {
  line-height: 16px; 
  font-size: 11px;
  color: #ffffff; 
}
.featuresbox ul li.first {
  margin-left: 0;
  padding-left: 0; 
  background: none;
}
.featuresbox ul li.last,
.features-2col ul li.last,
.features-3col ul li.last {
  margin-right: 0;
  padding-right: 0;
  float: right;
}
.featuresbox ul li img {
  margin: 10px 5px 0 0 ;
  padding: 0;
  float: left; 
}
.featuresbox ul li h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: 'pf_dintext_proregular'; 
}
.featuresbox ul li h4 a {
  color: #ffffff; 
}
.features-2col ul li {
  width: 435px;
}
.features-3col ul li {
  width: 283px;
}
/* Quotebox */
.quotebox,
.content_quotebox {
  width: 920px;
  padding: 10px 20px;
  height: 71px;
  display: block;
  clear: both;
}
.content_quotebox {
  width: auto;
  padding: 5px 25px;
  height: auto;
  display: block;
  clear: both;
  margin-bottom: 30px;
  background: url(images/quote.png) 0 15px no-repeat;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.quotebox h3,
.content_quotebox h3 {
  margin-top: 8px;
  display: block;
  text-align: center;
  color: #ffffff;  
}
.content_quotebox h3 {
  color: #858585;  
}
/* ----------------------- PAGE HEADING -----------------------*/
#page-heading {
  margin: 0 auto;
  width: 960px;
  height: 182px;
  border-top: 4px solid #61AB00;
  border-bottom: 2px solid #61AB00;  
  background: #61AB00;
}
#page-heading img {
  position: absolute;
} 
.heading-text {
  padding: 15px 20px;
  width: 260px;
  position: relative;
  left: 0;
  top: 30px;
  background-color: transparent;
  background-image: url(images/transparent.png);
  background-repeat:  repeat;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;  
}
.heading-text-right {
  padding: 15px 20px;
  width: 260px;
  position: relative;
  right: 0;
  top: 30px;
  background: url(images/transparent.png) repeat;  
  float: right;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;   
}
.heading-text h3,
.heading-text-right h3 {
  color: #ffffff;
  margin-bottom: 0;
}
.heading-text-right h3 {
  text-align: right; 
}
.heading-text p, 
.heading-text-right p{
  color: #dadada;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 16px;
}
.heading-text-right p{
  text-align: right; 
}
.breadcrumbs {
  border-bottom: 1px solid #EAEAEA;
  margin: 5px 0 0 0;
  text-align: right;
  font-size: 11px;
  color: #666666;
  display: block;
  padding-bottom: 5px;
}
.breadcrumbs p {
  margin-bottom: 0;
  font-size: 11px;
}
.breadcrumbs-plus {
}

.breadcrumbs-separator {
}
/* ----------------------- HOMEPAGE CONTENT -----------------------*/
.maincontent {
  padding: 20px 0 0 0;
  width: 630px;
  float: left;
}
.maincontent-right {
  padding: 20px 0 0 0;
  width: 630px;
  float: right;
}
.maincontent-full {
  padding: 25px 0;
  width: 100%;
}
/*.maincontent ul {
  list-style: disc outside none;
  padding: 0px 30px 12px;

 /* float: left;
  color: #666;
  font-size: 12px;
}
.maincontent li {

padding: 0px 5px 10px;
}
  */

.mainbox {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.mainbox img { 
}

#mainbox_key{
  display:block;
  width:148px;
  height:25px;
  background: url(images/key.png) 0px 0px no-repeat;
  font-family: 'pf_dintext_proregular'; 
  text-transform:uppercase;
  font-size: 0.85em;
  color:#555555;
}

#mainbox_key:hover{
  background: url(images/key.png) 0px -25px no-repeat;
  color:#fff;
}
#mainbox_key a{
  color:#555555;
}
#mainbox_key a:hover{
  color:#fff;
}

.mainbox_key_text{
  display:block;
padding: 7px 0px 0px 23px;

}


.mainbox h4,
.mainbox2 h4 {
/*  color: #4F8C00;*/
color: #444444;
  margin-bottom: 10px;
}
.mainbox h4 a,
.mainbox2 h4 a {
  color: #4F8C00;
}
.mainbox p, 
.mainbox2 p {
  margin-bottom: 5px; 
}
.mainbox2 {
  float: left;
  width: 198px;
  margin-right: 18px;
  margin-bottom: 5px;
}
.mainbox2 img { 
}
.box-last {
  float: right;
  margin-right: 0;
}
.boximg {
  margin-top: 5px;
  background: url(images/bgboximg.png) center no-repeat;
  width: 97px;
  height: 99px;
  float: right;
  margin-left: 10px;
  margin-bottom: 0;
}
.boximg2 {
  margin-top: 5px;
  background: url(images/bgboximg2.png) center no-repeat;
  width: 193px;
  height: 95px;
  margin-bottom: 0;
}
.boximg-pad {
  padding: 6px;
}
.boximg-pad2 {
  padding: 8px 7px;
}
.spacer {
  clear: both;
  display: block;
  padding-bottom: 10px;
}
.spacer2 {
  clear: both;
  display: block;
  padding-bottom: 20px;
}

.box-left {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}
.homepage-widget {
  margin-bottom: 20px;
}
/* ----------------------- PRODUCT PAGE / TABLE PRICING -----------------------*/
.productbox {
  width: 278px;
  float: left;
  margin-right: 32px;
}
.productbox-last {
  width: 278px;
  margin-right: 0;
  float: right;
}
.topproduct {
  width: 278px;
  height: 11px;
  background: url(images/bg-topproducts.png) top center no-repeat;
}
.bottomproduct {
  width: 278px;
  height: 12px;
  background: url(images/bg-bottomproducts.png) bottom center no-repeat;
}
.headingproduct{ 
  background: #74CBDD;
  width:238px;
  padding: 10px 20px;
}
.title h4 {
  padding-bottom: 10px;
  background: url(images/products-divider.png) bottom repeat-x;
  color: #ffffff;
}
.price {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.price span {
  color: #ffffff;
}
span.currency {
  font-size: 24px;
  display: inline;
  vertical-align: top;
}
span.price {
  font-size: 56px;
  display: inline;
}
span.month {
  font-size: 18px;
  display: inline;
}
.description {
  margin-top: 10px;
  padding-top: 15px;
  background: url(images/products-divider.png) top repeat-x;
}
.description p {
  font-size: 11px;
  color: #ffffff;
  line-height: 15px; 
}
.contentproduct {
  background: #EAEAEA;
  width:238px;
  padding: 10px 20px;
}
ul.productfeatures {}
ul.productfeatures li {
  color: #858585;
  margin: 0 0 5px 0;
  padding-bottom: 15px;
  background: url(images/divider.png) bottom repeat-x;
  font-size: 12px;
}
.product-icon {
  position: relative;
  top: 7px;
  left: 0;
  margin-right: 10px;
}
.buttoncenter {
  margin-left: 45px;
}

/* ----------------------- PORTFOLIO -----------------------*/

/* Portfolio 1 Column */
ul.portfolio-1col {}
ul.portfolio-1col li {
  margin: 10px 0 15px 0;
  float: left;
}
/* Portfolio 2 Columns */
ul.portfolio-2col li {
  width: 440px;
  margin: 10px 20px 10px 0;
  float: left;
}
ul.portfolio-2col li.last {
  width: 440px;
  margin-right: 0;
  float: right;
}
/* Portfolio 3 Columns */
ul.portfolio-3col li {
  width: 285px;
  margin: 10px 20px 10px 0;
  float: left;
  height: 280px;
}
ul.portfolio-3col li.last {
  width: 285px;
  margin-right: 0;
  float: right;
}
/* Portfolio 4 Columns */
ul.portfolio-4col li {
  width: 209px;
  margin: 10px 20px 10px 0;
  float: left;
}
ul.portfolio-4col li.last {
  width: 209px;
  margin-right: 0;
  float: right;
}
/* Portfolio 4 Columns Filterable */
ul.portfolio-4col-filterable li {
  width: 204px;
  margin: 10px 21px 10px 0;
  float: left;
}
ul.portfolio-1col li p,
ul.portfolio-2col li p,
ul.portfolio-3col li p,
ul.portfolio-4col li p,
ul.portfolio-4col-filterable li p {
  margin-bottom: 5px; 
}

/* Portfolio Imabe Block */
.portfolio-blockimg {
  float: left;
  width: 440px;
  margin-right: 10px;
}
.portfolio-blockimg-last {
  float: right;
  width: 440px;
  margin-right: 0;
}
.portfolio-imgbox1 {
  width: 440px;
  height: 207px;
  background: url(images/bg-portfolio1.png) center no-repeat;
  margin-bottom: 5px;
}
.portfolio-imgbox2 {
  width: 285px;
  height: 145px;
  background: url(images/bg-portfolio2.png) center no-repeat;
  margin-bottom: 5px;
}
.portfolio-imgbox3 {
  width: 209px;
  height: 105px;
  background: url(images/bg-portfolio3.png) center no-repeat;
  margin-bottom: 5px;
}
.portfolio-content1 {
  width: 440px;
  float: right;
  margin-left: 10px;
}
.portfolio-single-box {
  width: 584px;
  height: 324px;
  background: url(images/single-portfolio-box.png) center no-repeat;
  padding: 3px;
}
.pf-video-wrapper {
  margin: 9px 8px;
}
#portfolio-slider {
  margin: 10px 8px;
  position:relative;
  width: 558px;
  height: 290px;
  background: #ffffff url(../images/loading.gif) no-repeat 50% 50%;
}
#portfolio-slider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
#portfolio-slider a { 
  border:0;
  display:block;
}
.zoom {
  background: url(images/zoom.png) 50% 50% no-repeat;
}
.play {
  background: url(images/play.png) 50% 50% no-repeat;  
}

/* Random Portfolio */
.random-portfolio {
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  margin: 30px 0;
}

/* Portfolio Category Filter */
#filter {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font: normal 11px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 10px;
  padding-bottom: 20px;
	border-bottom: 1px solid #D3D3D3;
  width: 100%;
  float: left;
}
#filter li {
	color: #a1a2a2;
	font-weight: bold;
	margin-right: 5px;
  float: left;
}
#filter li a {
	margin: 2px;
	padding: 5px 8px;
	border: 1px solid #dadada;		
	color: #a1a2a2;
  text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
#filter li a:hover,
#filter li a.current, 
#filter li.current a,
#filter li.current-cat a {
	background-color: #e0e0e0;
	color: #8a8a8a;
	border: 1px solid #dadada;
	text-decoration: none;
}

/* ----------------------- BLOG PAGE -----------------------*/
.postbox h3 {
  margin-bottom: 10px; 
}
/* Blog List */ 
ul#listlatestnews {
}
ul#listlatestnews li {
  margin-bottom: 20px;
} 
.boximg-blog {
  margin-top: 5px;
  background: url(images/bgboximg.png) center no-repeat;
  width: 97px;
  height: 99px;
  float: left;
  margin-right: 10px;
}
.postbox {
  width:510px;
  float:left;
  margin-left:10px;  
}
.postbox p {
  margin-bottom: 5px;
} 
/* Blog Metapost */
.metapost {
  border-top: 1px dotted #eee;
  border-bottom: 1px dotted #eee;
  margin: 10px 0;
  font-size: 11px;
  padding: 8px 5px;
  color: #707070;
  background: #fafafa;
}
.metapost span {
  margin: 0 10px;
}
.metapost span.first {
  margin-left: 0; 
}
/* Author Box */
#authorbox {
  background: #fafafa;
  border: 1px dotted #eee;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#authorbox h4{
  vertical-align: top;
  margin-bottom: 5px;
}
#authorbox .blockavatar {
  width: 60px;
  float: left;
  margin-top: 8px;
  margin-right: 10px;
}
#authorbox img {
  margin-top: 0;  
  margin-bottom: 0;
  border: none;
}
#authorbox .detail {
  float: left;
  width: 500px;  
}
#authorbox .detail p {
  margin-bottom: 0;
}
.navigation {
  margin: 20px 0;
}
.navigation a {
  font-size: 12px; 
}
.bypostauthor {} 
/* Comment List */
#listcomment {
	padding: 0;
	margin: 0 0 20px 0;
}
#listcomment li {
  display: block;
	padding: 11px 0;
	margin: 0;
	background: none;
	border-bottom: 1px solid #eee;
}
.titlecomment {
	width: 673px;
}
.titlecomment img {
	float: left;
	padding: 3px;
	border: 1px solid #d9d9d9;
	margin: 0 10px 0 0;
}
.titlecomment h4 {
	color: #333;
	padding: 7px 0 0 0;
	margin: 0;
}
.datecomment {
	font-size: 11px;
	color: #858585;
}
#listcomment li p {
	font-size: 12px;
	padding: 10px 0 0 0;
	margin-bottom: 0;
}

/* Comment Form */
#commentform label {
  font-size: 12px;
  display: block;
  text-align: left;
  color: #666666;
  margin-bottom: 10px;
}
.leftcomment {
  width: 285px;
  float: left;
}
.rightcomment {
  float: left;
}
.comment-input {
  color: #666666;
  padding: 7px;
  display: block;
  text-align: left;  
  height: 19px;
  width: 250px;
  border: 1px solid #eaeaea;
  margin-bottom: 12px;
}
.comment-textarea {
  color: #666666;
  padding: 7px;
  display: block;
  text-align: left;  
  height: 160px;
  width: 307px;
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
}
.comment-submit {
  display: block;
  position: relative;
  top: 0;
  left: 220px;
  background: url(images/comment-submit.png) no-repeat;
  color: #d4d4d4;
  border: none;
  width: 106px;
  height: 32px;
  padding: 3px 5px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.comment-heading {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;  
}

/* Pagination  */
.wpapi_pagination,
.pagination {
  clear:both;
  left: 35%;
  padding:20px 0;
  position:relative;
  font-size:12px;
  line-height:13px;
  font-weight: bold;
}
 .wpapi_pagination span, .wpapi_pagination a,
.pagination span, .pagination a {
  display:block;
  float:left;
  margin: 2px 10px 2px 0;
  padding:8px 10px;
  text-decoration:none;
  width:auto;
  color:#666666;
  background: url(images/paging.jpg) repeat-x;
  -webkit-box-shadow:0 0 4px #aaaaaa; 
  -moz-box-shadow: 0 0 4px #aaaaaa; 
  box-shadow:0 0 4px #aaaaaa;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
	border-bottom-radius:4px;	  
}
 .wpapi_pagination a:hover,
 .pagination a:hover{
  color:#fff;
  background: #4F8C00;
}
.wpapi_pagination .current,
.pagination .current{
  padding:8px 10px;
  background: #4F8C00;
  color:#fff;
}

/* Testimonials */
#testilist {
  margin: 10px 0;
}
#testilist li {
  margin-bottom: 20px;
  border-bottom: 1px dotted #eaeaea;
}

/* ----------------------- CONTACT PAGE -----------------------*/
/* Contact Form */
#conctactleft {
  border-right: 1px dotted #eaeaea;
  width: 420px;
  float: left;
  padding-right: 25px;
}
#maincontactform {
  margin: 20px 0;
}
#maincontactform label {
  font-size: 12px;
  color: #5a5a5a;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  clear: both;
}
.textfield {
  margin-bottom: 10px;
  padding: 5px;
  color: #666666;
  width: 400px;
  height: 22px;
  border: 1px solid #eaeaea;
  clear: both;
  float: left;
}
.textarea {
  padding: 5px;
  color: #666666;
  width: 400px;
  height: 150px;
  border: 1px solid #eaeaea;
  clear: both;
  float: left;
}
.require {
  display: inline;
  float: left;
  color: #f00;
  font-weight: bold;
  margin-left: 2px;
  font-size: 10px;
}
.loading {
  margin-top: 15px;
  background: url(images/loading.gif) top left no-repeat;
  padding-left: 32px;
  font-size: 12px;
  color: #8f8f8f;
  margin-left: 10px;
  float: left;
  padding-bottom: 15px;
}

/* Contact Address */
#contactright {
  width: 430px;
  float: left;
  margin-left: 20px;
}
.contactinfo {
  margin-top: 20px;
}
.contactinfo li {
  clear: both;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  color: #666666;
  font-size: 12px;
  line-height: 18px;
}
#map {
  width: 424px;
  height: 246px;
}
.gmap_marker {
  font-size: 12px;
  line-height: 18px;
}

/* ----------------------- FAQ PAGE -----------------------*/
.toggle_wrapper {
  margin-bottom: 30px; 
}
.toggle {
  margin-bottom: 5px;
}
.toggle_title {
	margin:0;
	line-height:18px;
	background: url(images/help.png) right no-repeat;
	cursor:pointer;
	border-bottom:1px solid #e4e4e4;
	padding:1px 0px 9px 0px;
	clear:both;	
  color: #4F8C00;
}
.toggle_active {
	background: url(images/yes.png) right no-repeat;
}
.toggle_content {
	display:none;
  border: 1px dotted #eaeaea;
	background-color:#eeeeee;
	margin:-5px 0px 10px 0px;
	padding:11px 13px 1px 13px;	
}

/* ----------------------- SIDEBAR -----------------------*/
#sidebar,
.sidebar {
  width:  241px;
  float: right;
  margin: 30px 0 0 20px;
}
#sidebar-left,
.sidebar-left {
  width:  241px;
  float: left;  
  margin: 30px 20px 0 0;
}
.sidebar,
.sidebar-left {
  margin: 0 0 25px 0;
}
.sidebar p {
  margin-bottom: 5px;
}
.sidebartop {
  width:  241px;
  height: 11px;
  background: url(images/sidebartop.png) top no-repeat;
}
.sidebarmain {
  width:  241px;
  background: url(images/sidebarmain.png) center center repeat-y;
}
.sidebarbottom {
  width:  241px;
  height: 13px;
  background: url(images/sidebarbottom.png) bottom no-repeat;
}
.sidebarcontent {
  padding: 5px 25px 5px 25px;
}
.sidebarcontent h4 {
  margin-bottom: 5px;
}
.sidebarheading {
  padding-bottom: 20px;
  background: url(images/bgheading.png) bottom center no-repeat;
}
.nospace {
  margin-bottom: 0; 
}
/* Latest News Box */
ul.latestnews {
  margin: 0 0 10px 0;
  padding: 0;
}
ul.latestnews li, 
.sidebarcontent ul.latestnews li{
  margin-top: 0;
  margin-bottom: 5px;
  background: none;
  border: none;
  padding-bottom: 0;
}
ul.latestnews li a {
  font-size: 12px;
  line-height: 16px;
}
ul.latestnews li p.posteddate {
  margin-top: 5px;
  border-top: 1px dotted #d5d5d5;
  font-size: 11px;
  color: #8a8a8a;
  margin-bottom: 0;
}
.button-more {
  background: url(images/arrow_grey.png) left center no-repeat;
  padding-left: 22px;
  font-size: 11px;
}
img.arrow-icon {
  position: relative;
  top: 5px;
  right: 0;
  left: 10px;
}
/* Unorderlist Box */
ul.sidelist,
.sidebarcontent ul{
}
ul.sidelist li,
.sidebarcontent ul li {
   margin: 10px 0;
   padding-bottom: 10px;
   border-bottom: 1px solid #eaeaea;
   background: url(images/arrow.png) 100% 0 no-repeat;
}
ul.sidelist li a,
.sidebarcontent ul li a {
   padding-right: 26px;
   font-size: 12px;
   display: block;
}
p.testiname {
  text-align: right;
  display: block;
  font-weight: bold;
  margin-bottom: 0;
}

/* Twitter Widget */
.twitter_icon {
  position: relative;
  top: 8px;
  left: 0;
  margin-right: 5px;
}
p.loading {
	margin: 0;
	padding: 1em 1em 1em 3em;
	background: transparent url(images/loading.gif) 1em center no-repeat;
}
.tweet_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.tweet_list li,
#twitter .tweet_list li {
	margin: 8px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
	font-size: 12px;
	color: #868686;
	font-style: italic;
	line-height: 1.4em;
  background: none;
}
.tweet_list li a {
  background: none;
  padding: 0;
}
.tweet_list li span {
	display: block;
}
.tweet_list li span a {
}
.tweet_list li span a:hover{
}
.tweet_list li .tweet_text a {
  margin-bottom: 0;
  padding: 0;
}
.tweet_list li.lastTweet {
  border: none;
}
.tweet_list .tweet_time {
  display: none;
}

/* Flickr Gallery */
.flickrgallery {}
.flickrgallery img {
  float: left;
  margin:0 8px 10px 0;
}
.flickrgallery .flickr_badge_image  { 
  float: left; margin: 0; padding:0; 
}
.flickrgallery a img  { 
  float: left;  
  padding: 2px;
  background: #ffffff;
  width:48px; 
  height:48px;
  border: 1px solid #dadada; 
}
.flickrgallery a:hover img {
  background: #dadada; 
}
/* ----------------------- FOOTER -----------------------*/
#footer {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* Footer Box */
.footerbox {
  float: left;
  margin-right: 20px;
  width: 210px;
}
.footerbox-1col {
  width: 880px;
}
.footerbox-2col {
  width: 420px;
}
.footerbox-3col {
  width: 285px;
}
.footerbox h4 {
  font-family: 'pf_dintext_proregular'; 
  margin-bottom: 15px;
  color: #ffffff;
}
.footerbox a,
.footerbox li a {
  color: #ffffff; 
}
.footerbox a:hover {
  color: #dddddd; 
}
.footerbox ul {
  margin: 0;
  padding: 0; 
}
.footerbox ul li {
  margin: 8px 0;
  padding-bottom: 10px; 
  color: #ffffff;
  font-size: 11px;
  border-bottom: 1px dotted #cacaca;
}
.footerbox p {
  font-size: 11px;  
  line-height: 18px;
  margin-bottom: 5px;
  color: #ffffff;
}
.box-last {
  float: right;
  margin-right: 0;
}
/* Address List */
ul.addresslist {
  margin: 0;
  padding: 0;
}
ul.addresslist li  {
  line-height: 18px;
  margin: 4px 0;
  padding-bottom: 4px;
}
.address {
margin: 8px 0px;
padding-bottom: 10px;
color: #FFF;
font-size: 11px;
}
.sidebarcontent ul.addresslist li {
  font-size: 12px;
  color: #666666;
  background: none;
}
.footerbox ul.social-links {
  margin: 10px 0;
  padding: 0;
  display: block;
}
.footerbox ul.social-links li {
  border: none;
  margin:0 5px 0 0;
  padding: 0;
  float: left;
}
.footerbox ul.social-links li a  {
  background: none; 
  margin: 0;
  padding: 0;
}
.bottom {
  padding: 5px;
  width: 890px;
  height: 31px;
  background: url(images/bg-copyright.png) center no-repeat;
  margin: 20px 0;
  display: block;
}
.footermenu {
  padding: 0px 0px 0px 0px;
  float: left;
  width: 640px;
  margin-left : 10px;
}
.footermenu ul {
  margin: 0;
}
.footermenu ul li {
  display: inline;
  float: left;
  margin: 6px 6px 6px 10px;
}
.footermenu ul li a {
  color: #eaeaea;
  font-size: 11px; 
  padding-right: 15px;
  border-right: 1px dotted #cacaca;
}
.footermenu ul li a:hover {
  color: #ffffff; 
}
/* Copyright */
.copyright {
  width: 200px;
  display: block;
  text-align: right;
  float: right;
  margin-right: 15px;
}
.copyright p {
  margin: 5px 0;
  color: #eaeaea;
}
.copyright p a {
  color: #ffffff;
}

/* Native Wordpress Styling */

.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.sticky {
}
.gallery {
}
.gallery-caption {
}
/* Front Tabs */
.tabs-wrapper {
  margin: 15px 0;
}
ul.tabs {
	margin:0px 0px 0px 1px;
	padding: 0;
	float: left;
	list-style: none;
	height: 31px;
	border-bottom: 1px solid #dbdbdb;
	border-left:none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: auto;
	float:left;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin:0px 0px -1px -1px;
	background-image:url(images/bg-dropdown.jpg);
	background-repeat:repeat-x;
	overflow: hidden;
	position: relative;	
}
ul.tabs li a {
	text-decoration: none;
	color: #7d7b7b;
	display: block;
	font-size: 14px;
	padding: 1px 26px;
	outline: none;
}
ul.tabs li a:hover {
	background-image:url(images/bg-dropdown.jpg);
	background-repeat:repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}	
html ul.tabs li.current, html ul.tabs li.current a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
  padding-bottom: 1px;
}
.tab_container,
.panes {
	border: 1px solid #dbdbdb;
	border-top: none;
	clear: both;
	float: left; 
	width: auto;
	background: #fff;
  width: 100%;
  padding-bottom: 10px;
  font-size: 12px;
  color: #666666;
}
.tab_content,
.pane {
	padding: 18px 20px 8px 20px;
  border-top: 1px solid #dbdbdb;
}
.tab_content p {
  font-size: 12px;
	padding-top: 5px;
  color: inherit;
}
.tab_content img {
	float: left;
	margin: 0 18px 18px 0;
	padding: 0px 5px 0px 5px;
}

/* tables */
table {
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 20px;
  width:100%;
  font-size: 12px;
  color: #666666;
}
th.empty { 
  background: #fff; 
}
tr.empty:hover { 
  background: #fff; 
}
th {
  background-color: #aaaaaa;
  font-weight: normal;
  font-size: 15px;
  padding: 0 10px;
  color: #fff;
  text-shadow:#414141 0 1px 0px;
  line-height: 40px;
}
tbody tr {
  font-weight: normal;
  background-color: #fafafa;
}
tbody tr:nth-child(even) { 
  background-color: #f0f0f0; 
}
tbody tr:hover { 
  background-color: #eaeaea; 
}
td {
  padding: 9px 10px;
  border-left: #d7d7d7 1px solid;
  border-top: #d7d7d7 1px solid;
  border-bottom: #d7d7d7 1px solid;
  line-height: 20px;
}
tr td:first-child { 
  border-left:0; 
}
.breadcrumb {
  display: block;
  text-align: right;
  margin-bottom: 0;
}
.breadcrumb p {
  margin-bottom: 0;
}
.breadcrumbs-plus {
}

.breadcrumbs-separator {
}

.sponsor{
font-size: 11px;
line-height: 18px;
color: #FFF;
margin: 0px 0px;
padding: 0px 0px 0px 53px;
display: block;
float: left;
position: absolute;
}